[Unit]
Description=Nifty Trading Signal Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/tradingsignalbot
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 -u /home/ubuntu/tradingsignalbot/nifty_zerodha_bot.py
Restart=always
RestartSec=15
StandardOutput=append:/home/ubuntu/tradingsignalbot/bot.log
StandardError=append:/home/ubuntu/tradingsignalbot/bot_error.log

[Install]
WantedBy=multi-user.target
